.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 3;
  background-color: rgba(60, 60, 60, 0.6);
  overflow: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal {
  padding: 10px 10px 5px 10px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  width: 80vw;
  max-height: 80vh;
  overflow: scroll;
}

.title {
  font-size: 18px;
}

.disabled {
  filter: grayscale(1);
  opacity: 0.3;
}

.selected {
  color: red;
}

.unselected {
  color: green;
}
