.image-triangle {
    position: relative;
    border-left: 75px solid transparent;
    border-bottom: 20vh solid white;
    float: right;
}

.level-badge {
    // level-arrow-up
    position: absolute;
    border-left: 75px solid transparent;
    border-bottom: 50% solid var(--ion-color-primary);
    float: right;
}

.race-image {
    transform: scale(1.5);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.image-col {
    overflow: hidden;
}

.ability-score {
    max-width: 25vw;
    margin: 0 auto;
}

.card-height {
    height: 20vh;
}

.name {
    font-size: 5vw;
    font-weight: 700;
}

.title {
    font-size: 5vw;
    font-weight: 500;
}

.subtitle {
    display: block;
    font-size: 3vw;
}

.card-extension {
    background-color: whitesmoke;
}

.unextended {
    display: none;
}

.select-option {
    font-size: 7vw;
}

// .extended {
//     // animation: EXTEND 1s;
// }

// @keyframes EXTEND {
//     0%   { transform: scale(0); }
//     100% { transform: scale(1); }
//   }