.unextended-weapon {
    display: none;
}

.platinum {
    color: skyblue;
}
.gold {
    color: gold;
}
.electrum {
    color: #ffbcbc;
}
.silver {
    color: silver;
}
.copper {
    color: #b87333;
}