.ability-input {
    border: solid black;
    font-size: 7vw !important;
    text-align: center;
    min-width: 30vw;
}

.used-throw {
    text-decoration: line-through;
    opacity: 0.3;
}

.confirm-icon {
    font-size: 25px !important;
}

.disabled {
    filter: grayscale(1);
    opacity: 0.3;
}